
<div class="oj-hybrid-padding">
  <h1>Scientific fields</h1>
  <div id='sunburst-container'>
      <div class="oj-flex oj-flex-items-pad demo-flex-display">
          <div class="oj-flex-item">
            <div>
              <h5 id="currentText"></h5>
            </div>
          </div>
        </div>
    <oj-sunburst
      id="sunburst"
        animation-on-display="auto"
        animation-on-data-change="auto"
        node-defaults.label-display="rotated"
        drilling= "on"
        on-oj-drill="[[drillListener]]"
        data="[[sunburstData]]"
        selection-mode="none"
        style="max-width:1300px;width:100%; height:850px;">
        <template slot='nodeTemplate'>
            <oj-sunburst-node
                label='[[$current.data.label]]'
                color='#0a132d'
                value='[[$current.data.value]]'>
            </oj-sunburst-node>
        </template>
    </oj-sunburst>
  </div>
</div>
