
.demo-tile {
    font-weight: bold;
  }
  
  .demo-expanded-content {
    font-weight: normal;
    color: #333;
    margin-top: 10px;
    height: 70%;
    background-color: #f3f1f1
  }
  
  .demo-scroll-container {
    overflow: auto;
  }
  
  /* remove the button bottom margin */
  .demo-button {
    margin-bottom: 0px;
  }
  
  #mainContent {
      position: relative;
      top:30px;
  }
  
  #tline {
    top: 70px
  }
  
  #treemap-container {
    position: relative;
    top: 100px;
  }
  
  .header-title {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace
  }