
<div class="oj-hybrid-padding">
  <h1>Dashboard Content Area</h1>

</div>

<oj-buttonset-one 
    id="radioButtonset" 
    class='oj-buttonset-width-auto' 
    aria-label="Choose only one setting." 
    aria-controls="timeline" 
    value="{{orientationValue}}" 
    style="padding:25px;padding-bottom:0px;float:left;">
    <!-- ko foreach: orientationOptions -->    
    <oj-option value="[[id]]">
        <span data-bind="text: label"></span>
    </oj-option>
    <!-- /ko -->
</oj-buttonset-one>
<oj-timeline 
    id='tline' 
    aria-label='Custom Date Formatting Demo'
    minor-axis.scale='years'
    minor-axis.zoom-order='["years"]'
    start='[[new Date("Jan 1, 1799").toISOString()]]'
    end='[[new Date("Dec 31, 1899").toISOString()]]'
    viewport-start='[[new Date("Jan 1, 1799").toISOString()]]'
    viewport-end='[[new Date("Jan 1, 1806").toISOString()]]'
    selection-mode='single'
    selection='["e4"]'
    series='[[timelineSeries]]',
    orientation='[[ko.toJS(orientationValue)]]'
    overview.rendered='on',
    overview.svg-style='{"height": "70px"}',
    on-oj-viewport-change='[[listener]]',
    value-formats.date.tooltip-display="off",
    value-formats.description.tooltip-display="auto",
    value-formats.description.series-display="off",
    animation-on-display='auto',
    animation-on-data-change='auto',
    style='width:100%;height:350px'>
</oj-timeline>
<div id='treemap-container'>
  <oj-treemap id="treemap" 
    animation-on-display="auto"
    animation-on-data-change="auto"
    nodes="[[nodeValues]]"
    style="width:100%; height:600px;">
  </oj-treemap>
</div>