
<div class="oj-hybrid-padding">
  <h1>Scientists Area</h1>
  <div id="mainContent">
    <div class='oj-flex-bar'>
        <div class='oj-flex-bar-start'>
            <oj-label for="filterDepartId" class="oj-label-inline">Search:</oj-label>
        </div>
        <div class='oj-flex-bar-middle'>
            <oj-input-text id="filterDepartId" placeholder="Search Contact" on-raw-value-changed="[[handleRawValueChanged]]"></oj-input-text>
        </div>
    </div>

    <oj-list-view id="listview" aria-label="sticky group header" class="contacts"
        data="[[dataSource]]" item.focusable="[[itemOnly]]" drill-mode="none" group-header-position="sticky"> 
        <template slot="itemTemplate">
            <!-- template for items -->
            <oj-bind-if test="[[$current.leaf === true || $current.leaf === undefined]]">
                <span><oj-bind-text value="[[$current.data.name]]"></oj-bind-text></span>
            </oj-bind-if>
            <!-- template for groups -->
            <oj-bind-if test="[[$current.leaf === false]]">
                <span><oj-bind-text value="[[$current.data.id]]"></oj-bind-text></span>
            </oj-bind-if>
        </template>
    </oj-list-view>
  </div>
</div>
